*{
    padding: 0;
    margin: 0;
}
body{
    padding: 50px;
   
}
nav h1 {
    text-align: center;
    padding-top: 20px;
    
}
.container {
    width: 350PX;
    height: 60vh;
    background-color: rgb(194, 159, 127);
    border-radius: 15px;
   
}
.but-div {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}
button {
    box-shadow: 3px 3px 3px 3px rgba(82, 9, 9, 0.278);
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: rgba(180, 86, 23, 0.685);
}